{{.AppNameLowercase}}
_{{.AppNameLowercase}}/config/development.yaml
_{{.AppNameLowercase}}/config/test.yaml
_{{.AppNameLowercase}}/config/production.yaml
resources/certificates/*.*
resources/keys/*.*
fixtures/fixtures.go
migrations/migrations.go
templates/templates.go
seeds/seeds.go
temp/
**/sample_*.*
*.bak
**/*.bak
tmp
.vscode/launch.json
../.vscode/
godel
godelw
