<!-- Head -->
{{define "head"}}
{{$account := .Model}}
Show Account - {{$account.Name.String}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$account := .Model}}

<!-- Contextual bar -->
{{template "context_bar" .}}
<!-- Contextual bar -->

<!-- Header -->
{{$title := $account.Name.String | printf "Show Account - %s"}}
{{template "header" $title}}
<!-- Header -->

<!-- View -->
{{template "view" .}}
<!-- View -->

{{end}}

