{{define "context_bar"}}
{{$user := .Model}}
<div class="level">
  <div class="level-right">
  </div>
  <div class="level-right">
    <div class="tile is-ancestor is-pulled-right">
      <div class="tile is-pulled-right">
        <a class="button is-light is-small" href="{{userPath}}">List</a>
      </div>
      <div class="tile is-pulled-right">
        <a class="button is-light is-small" href="{{userPathNew}}">New</a>
      </div>
    </div>
  </div>
</div>
<br>
{{end}}