{{define "header"}}
{{$title := .}}
<div class="level">
  <div class="level-left">
    <div class="tile is-ancestor">
      <div class="tile is-pulled-left">
        <h2 class="subtitle">
          {{$title}}
        </h2>
      </div>
    </div>
  </div>
</div>
<br>
{{end}}