<!-- Head -->
{{define "head"}}
{{$user := .Model}}
Delete User - {{$user.Username.String}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$user := .Model}}

<!-- Contextual bar -->
{{template "context_bar" .}}
<!-- Contextual bar -->

<!-- Header -->
{{$title := $user.Username.String | printf "Delete User - %s"}}
{{template "header" $title}}
<!-- Header -->

<!-- Data -->
  <div>

    <div class="field">
      <label class="label" for="name">Username</label>
      {{$user.Username.String}}
    </div>

    <div class="field">
      <label class="label" for="name">Email</label>
      {{$user.Email.String}}
    </div>

    <div class="field">
      <label class="label" for="name">Name</label>
      {{$user.GivenName.String}} {{$user.MiddleNames.String}} {{$user.FamilyName.String}}
    </div>

    <form accept-charset="UTF-8" action="{{$user | userPathID}}" method="POST">
      <input name="_method" type="hidden" value="DELETE">
      <input class="button is-danger" type="submit" value="Confirm Delete">
    </form>
  </div>
<!-- Data -->

{{end}}
<!-- Body -->